
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #EEAECA;
    background: linear-gradient(469deg, rgba(238, 174, 202, 1) 0%, rgba(125, 244, 255, 1) 100%);
    width: 500px;
    height: 400px;
}
input{
    height: 25px;
    width: 300px;
    margin: 10px 0px;
    border-radius: 5px;
    border-color: transparent;
}
h1{
    margin: 20px;
}
input::placeholder{
    padding: 10px;
}
.btn{
    text-align: center;
}
label{
    text-align: left;
}
button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border: none;
    text-align: center;
}

